<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-title" content="懒微商">
  <title>微信大全_聚微商-微商货源网 专注高端 收录高质量货源 全网最大最权威微商货源网 微商创业货源网</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="MobileOptimized" content="320" />
  <link rel="stylesheet" href="/statics/css/style.css">
  <link rel="stylesheet" href="/statics/css/wechat.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/statics/images/weishang/icon-144x144.png">
</head>

<body>
  <div id="wrap" v-cloak>
    <div class="head clearfix">
      <div id="header">
      </div>
      <div class="nav">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="/goods/">微商货源</a></li>
          <li class='navlihover'><a href='/wechat/'>微信大全</a></li>
          <li><a href="/school/">微商学院</a></li>
          <li class="howto"><a href="/jprzhy/">发布货源</a></li>
        </ul>
      </div>
    </div>
    <div class="content clearfix">
      <div class="sontype">
        <ul>
          <li :class="1 === params.type_id ? 'lihover' : ''"><a title="微信公众号" @click="getListByTypeId(1)">微信公众号</a></li>
          <li :class="2 === params.type_id ? 'lihover' : ''"><a title="微信群" @click="getListByTypeId(2)">微信群</a></li>
          <li :class="3 === params.type_id ? 'lihover' : ''"><a title="个人微信号" @click="getListByTypeId(3)">个人微信号</a></li>
        </ul>
      </div>
    </div>
    <div class="content clearfix">
      <div class="breadcrumb mod">
        <span>当前位置: <a href='/'>首页</a> > <a href='/wechat/'>微信大全</a> > </span>
        <span class="update"><a href="http://wpa.qq.com/msgrd?v=3&uin=1702828444&site=qq&menu=yes" target="_blank">免费发布微信</a></span>
      </div>
      <div class="wechat_all clearfix">
        <div class="wechat_title">
          <h1>微信大全</h1>
        </div>
        <div class="wechat_list clearfix">
          <ul class="clearfix">
            <li v-for="(item, index) in weixinInfoList" @click="toDetail(item.id)">
              <a>
                <img :src="item.weixin_qrcode" alt="有深度的报纸-南方周末">
                <span>{{item.title}}</span>
              </a>
            </li>
            <div class="ht"></div>
          </ul>
          <div class="page">
            <li>首页</li>
            <li v-for="(item, index) in Math.ceil(count/params.limit)" :class="item === params.page ? 'thisclass' : ''">
              <template v-if="item === params.page">
                {{item}}
              </template>
              <template v-else>
                <a @click="changePage(item)">{{item}}</a>
              </template>
            </li>
            <li><span class="pageinfo">共 <strong>{{Math.ceil(count/params.limit)}}</strong>页<strong>{{count}}</strong>条</span></li>
          </div>
        </div>
        <div class="side">
          <div class="event_side"><img src="/statics/images/weishang/event_side.jpg" alt=""></div>
          <div class="list_side">
            <h3>热门微信大全</h3>
            <ul>
              <li><a href="/wechat/public/4.html" title="微信公众号-南方周末" target="_blank">南方周末</a></li>

            </ul>
          </div>
          <div class="list_side">
            <h3>微商必读</h3>
            <ul>
              <li><a href="/wechat/public/4.html" title="微信公众号-南方周末" target="_blank">南方周末</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
    <div id="floatTools"></div>
  </div>
  <script src="/statics/js/jquery.min.js" type="text/javascript"></script>
  <script src="/statics/js/vue.js" type="text/javascript"></script>
  <script src="/statics/js/index.js" type="text/javascript"></script>
  <script src="/statics/js/queries/getWeixinInfoList.js" type="text/javascript"></script>
  <script>
    new Vue({
      el: '#wrap',
      data: {
        weixinInfoList: [],
        count: 0,
        params: {
          page: 1,
          limit: 10,
          type_id: 0
        }
      },
      mounted() {
        this.initGetList()
      },
      methods: {
        initGetList() {
          this.params.page = 1
          this.params.type_id = 0
          if (qurl('type_id')) {
            this.params.type_id = Number(qurl('type_id'))
          }
          this.getList()
        },
        getList() {
          var that = this
          getWeixinInfoList(this.params, function (res) {
            var resData = res.data.getWeixinInfoList
            if (resData.code === 0) {
              that.weixinInfoList = resData.data
              that.count = resData.count
            }
          })
        },
        // 根据 类别 筛选
        getListByTypeId(id) {
          this.params.page = 1
          this.params.type_id = Number(id)
          this.getList()
        },
        changePage(page) {
          this.params.page = page
          this.getList()
        },
        toDetail(id) {
          window.open('./detail.html?id=' + id)
        }
      }
    })
  </script>
</body>

</html>